carrot2/components/carrot2-input-alexa/wsdl/AlexaWebSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
            ####################################################################################
            #
            # DO NOT EDIT!!! THIS FILE IS AUTOMATICALLY GENERATED
            #
            ####################################################################################
        --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://websearch.amazonaws.com/doc/2006-02-15"
           elementFormDefault="qualified"
           targetNamespace="http://websearch.amazonaws.com/doc/2006-02-15">
   <xs:element name="MultiOperation">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="tns:CustomSearch"/>
            <xs:element minOccurs="0" ref="tns:CustomField"/>
            <xs:element minOccurs="0" ref="tns:WebSearch"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="MultiOperationResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:OperationRequest" minOccurs="0"/>
            <xs:element minOccurs="0" ref="tns:CustomSearchResponse"/>
            <xs:element minOccurs="0" ref="tns:CustomFieldResponse"/>
            <xs:element minOccurs="0" ref="tns:WebSearchResponse"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Information">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:OperationInformation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:ResponseGroupInformation" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="OperationInformation">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="RequiredParameters" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Parameter" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AvailableParameters" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Parameter" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="DefaultResponseGroups" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ResponseGroup" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AvailableResponseGroups" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ResponseGroup" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ResponseGroupInformation">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="CreationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="ValidOperations" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Operation" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Elements" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Element" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomSearch">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:CustomSearchRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="CustomSearchRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Query"/>
         <xs:element type="xs:string" name="PublicationId"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="TimeOut" minOccurs="0"/>
         <xs:element type="xs:string" name="Unique" minOccurs="0"/>
         <xs:element type="xs:string" name="Fluff" minOccurs="0"/>
         <xs:element type="xs:string" name="SearchFields" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
         <xs:element type="xs:string" name="QueryRelevanceStyle" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CustomSearchResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomSearchResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:CustomSearchResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomField">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:CustomFieldRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="CustomFieldRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Query"/>
         <xs:element type="xs:string" name="PublicationId"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="TimeOut" minOccurs="0"/>
         <xs:element type="xs:string" name="Unique" minOccurs="0"/>
         <xs:element type="xs:string" name="QueryRelevanceStyle" minOccurs="0"/>
         <xs:element type="xs:string" name="SearchFields" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CustomFieldResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomFieldResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:CustomFieldResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WebSearch">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:WebSearchRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="WebSearchRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Query"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="TimeOut" minOccurs="0"/>
         <xs:element type="xs:string" name="Unique" minOccurs="0"/>
         <xs:element type="xs:string" name="QueryRelevanceStyle" minOccurs="0"/>
         <xs:element type="xs:string" name="SearchFields" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="WebSearchResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WebSearchResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:WebSearchResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="OperationRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:HTTPHeaders" minOccurs="0"/>
            <xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tns:Arguments" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Request">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="IsValid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:Arguments" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Arguments">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Argument" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Value" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="HTTPHeaders">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Header" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Value" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Errors">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Error" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Code" type="xs:string"/>
                     <xs:element name="Message" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ResponseStatus">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="StatusCode" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Result"/>
   <!--Paste the Alexa node from http://client.alexa.com/schema/alexa.xsd here--><xs:element name="Alexa">
		    <xs:annotation>
			      <xs:documentation>Root element for alexa data container. May exist as either a root node or a child element
                representing a chained result</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element name="CustomFieldReturnValue" type="tns:CustomType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>Custom Field Action. Provides search results for queries based on a single custom field.</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="CustomSearchReturnValue" type="tns:CustomType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>Custom Search Action. Provides Search Results for queries on custom search indices.</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="Request" type="tns:RequestType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>Information about the data request</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="WebSearch" type="tns:SearchType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>Web Search Action. Provides Web Search Results for queries.</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
   <xs:element name="AlexaBatch">
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="tns:Alexa" maxOccurs="unbounded"/>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
   <xs:complexType name="AttributeType">
		    <xs:annotation>
			      <xs:documentation>Represents a name/value pair as retrieved from either queryString or POST
                data</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="Name" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Name portion of query parameter</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="Value" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Data attributed to named query parameter</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="CustomType">
		    <xs:sequence>
			      <xs:element name="SearchPhrase" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Your search term(s)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="TimedOut" minOccurs="0" maxOccurs="1" type="xs:string">
              <xs:annotation>
                <xs:documentation>Indicates if the request timed out.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TotalCount" type="tns:UnsignedIntegerType">
				        <xs:annotation>
					          <xs:documentation>Number of results matching query.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="Results">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="Result" minOccurs="0" maxOccurs="unbounded">
							              <xs:complexType>
								                <xs:sequence>
									                  <xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
										                    <xs:annotation>
											                      <xs:documentation>Value of the return field.</xs:documentation>
										                    </xs:annotation>
										                    <xs:complexType>
											                      <xs:simpleContent>
												                        <xs:extension base="xs:string">
													                          <xs:attribute name="name" type="xs:token" use="required">
														                            <xs:annotation>
															                              <xs:documentation>Name of the result
                                                                field.</xs:documentation>
														                            </xs:annotation>
													                          </xs:attribute>
												                        </xs:extension>
											                      </xs:simpleContent>
										                    </xs:complexType>
									                  </xs:element>
								                </xs:sequence>
								                <xs:attribute name="number" type="tns:UnsignedIntegerType" use="required">
									                  <xs:annotation>
										                    <xs:documentation>Result number.</xs:documentation>
									                  </xs:annotation>
								                </xs:attribute>
							              </xs:complexType>
						            </xs:element>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="ErrorType">
		    <xs:annotation>
			      <xs:documentation>Structure for defining an Error occurring while building the requested
                information</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="ErrorCode" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Textual error code</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="ErrorMessage" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Textual error information</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="Service" type="xs:token" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Name or path of service that threw the error</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="GenericDataType">
		    <xs:annotation>
			      <xs:documentation>Base type for simple content elements</xs:documentation>
		    </xs:annotation>
		    <xs:simpleContent>
			      <xs:extension base="xs:string"/>
		    </xs:simpleContent>
	  </xs:complexType>
   <xs:complexType name="RequestType">
		    <xs:annotation>
			      <xs:documentation>contains Elements pertaining to the original data request</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="Arguments" minOccurs="0">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="Argument" maxOccurs="unbounded">
							              <xs:complexType>
								                <xs:sequence>
									                  <xs:element name="Name" type="xs:token"/>
									                  <xs:element name="Value" type="xs:token"/>
								                </xs:sequence>
							              </xs:complexType>
						            </xs:element>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="DateTime" type="xs:dateTime" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Time the request was made</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="ResponseTime" type="tns:UnsignedIntegerType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Amount of time it took to process the request (in milliseconds)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="Errors" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Optional node containing error information (if any)</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="Error" type="tns:ErrorType" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="UrlServiceType">
		    <xs:annotation>
			      <xs:documentation>Base type for services that take a URI as a parameter and return data about that
                URI.</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="DataUrl">
				        <xs:annotation>
					          <xs:documentation>URL this data is about. Required element</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:simpleContent>
						            <xs:extension base="tns:GenericDataType">
							              <xs:attribute name="type" type="xs:token" use="optional"/>
						            </xs:extension>
					          </xs:simpleContent>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="NavigableUrl" type="tns:GenericDataType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Optionally, url that can be navigated to in browser</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="tns:Alexa" minOccurs="0"/>
			      <xs:element name="Asin" type="xs:token" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>ASIN / Amazon ID Number (if available.) Used to navigate to site info pages for
                        DataUrl on Amazon.com.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:simpleType name="UnsignedIntegerType">
		    <xs:annotation>
			      <xs:documentation>Integer from 0 to n</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:integer">
			      <xs:minInclusive value="0"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:complexType name="SearchType">
		    <xs:sequence>
			      <xs:element name="SearchPhrase" type="xs:token">
				        <xs:annotation>
					          <xs:documentation>Your search term(s)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="TimedOut" minOccurs="0" maxOccurs="1" type="xs:string">
              <xs:annotation>
                <xs:documentation>Indicates if the request timed out.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TotalCount" type="tns:UnsignedIntegerType">
				        <xs:annotation>
					          <xs:documentation>Number of results matching query.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="Results">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="Result" minOccurs="0" maxOccurs="unbounded">
							              <xs:complexType>
								                <xs:sequence>
									                  <xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
										                    <xs:annotation>
											                      <xs:documentation>Value of the return field.</xs:documentation>
										                    </xs:annotation>
										                    <xs:complexType>
											                      <xs:simpleContent>
												                        <xs:extension base="xs:string">
													                          <xs:attribute name="name" type="xs:token" use="required">
														                            <xs:annotation>
															                              <xs:documentation>Name of the result
                                                                field.</xs:documentation>
														                            </xs:annotation>
													                          </xs:attribute>
												                        </xs:extension>
											                      </xs:simpleContent>
										                    </xs:complexType>
									                  </xs:element>
								                </xs:sequence>
								                <xs:attribute name="number" type="tns:UnsignedIntegerType" use="required">
									                  <xs:annotation>
										                    <xs:documentation>Result number.</xs:documentation>
									                  </xs:annotation>
								                </xs:attribute>
							              </xs:complexType>
						            </xs:element>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="AlternateSearchPhrase" type="xs:token" minOccurs="0"/>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="ResponseType">
		    <xs:sequence>
			      <xs:element name="Request" type="tns:RequestType">
				        <xs:annotation>
					          <xs:documentation>Information about the data request</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="DataUrlType">
		    <xs:simpleContent>
			      <xs:extension base="xs:token">
				        <xs:attribute name="type" type="xs:token"/>
			      </xs:extension>
		    </xs:simpleContent>
	  </xs:complexType>
</xs:schema>