carrot2/components/carrot2-input-alexa/wsdl/AlexaWebSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
####################################################################################
#
# DO NOT EDIT!!! THIS FILE IS AUTOMATICALLY GENERATED
#
####################################################################################
--><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://websearch.amazonaws.com/doc/2006-02-15"
             targetNamespace="http://websearch.amazonaws.com/doc/2006-02-15">
   <types>
      <xs:schema>
         <xs:import namespace="http://websearch.amazonaws.com/doc/2006-02-15"
                    schemaLocation="AlexaWebSearch.xsd"/>
      </xs:schema>
   </types>
   <message name="CustomSearchRequestMsg">
      <part name="body" element="tns:CustomSearch"/>
   </message>
   <message name="CustomSearchResponseMsg">
      <part name="body" element="tns:CustomSearchResponse"/>
   </message>
   <message name="CustomFieldRequestMsg">
      <part name="body" element="tns:CustomField"/>
   </message>
   <message name="CustomFieldResponseMsg">
      <part name="body" element="tns:CustomFieldResponse"/>
   </message>
   <message name="WebSearchRequestMsg">
      <part name="body" element="tns:WebSearch"/>
   </message>
   <message name="WebSearchResponseMsg">
      <part name="body" element="tns:WebSearchResponse"/>
   </message>
   <portType name="AlexaWebSearchPortType">
      <operation name="CustomSearch">
         <input message="tns:CustomSearchRequestMsg"/>
         <output message="tns:CustomSearchResponseMsg"/>
      </operation>
      <operation name="CustomField">
         <input message="tns:CustomFieldRequestMsg"/>
         <output message="tns:CustomFieldResponseMsg"/>
      </operation>
      <operation name="WebSearch">
         <input message="tns:WebSearchRequestMsg"/>
         <output message="tns:WebSearchResponseMsg"/>
      </operation>
   </portType>
   <binding name="AlexaWebSearchBinding" type="tns:AlexaWebSearchPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="CustomSearch">
         <soap:operation soapAction="http://websearch.amazonaws.com"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="CustomField">
         <soap:operation soapAction="http://websearch.amazonaws.com"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="WebSearch">
         <soap:operation soapAction="http://websearch.amazonaws.com"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="AlexaWebSearch">
      <port name="AlexaWebSearchPort" binding="tns:AlexaWebSearchBinding">
         <soap:address location="http://websearch.amazonaws.com"/>
      </port>
   </service>
</definitions>