components/carrot2-input-alexa/wsdl/AlexaWebSearch-2007-03-15.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://wsearch.amazonaws.com/doc/2007-03-15/"
        xmlns:tns="http://wsearch.amazonaws.com/doc/2007-03-15/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://wsearch.amazonaws.com/doc/2007-03-15/"
                    xmlns:tns="http://wsearch.amazonaws.com/doc/2007-03-15/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    elementFormDefault="qualified">

            <!-- Search Action -->
            <xsd:element name="Search">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Query the Alexa search engine to search the web for documents that match a query. This action returns the search results.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ResponseGroup" maxOccurs="unbounded">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="Results"/>
                                    <xsd:enumeration value="Context"/>
                                    <xsd:enumeration value="QueryCorrection"/>
                                    <xsd:enumeration value="QueryExpansion"/>
                                    <xsd:enumeration value="TrafficRank"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Query" type="xsd:string"/>
                        <xsd:element name="MaxTime" type="xsd:integer" minOccurs="0"/>
                        <xsd:element name="Unique" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PageNumber" type="xsd:integer" minOccurs="0"/>
                        <xsd:element name="MaxNumberOfDocumentsPerPage" type="xsd:integer" minOccurs="0"/>

                        <!-- deprecated authorization elements -->
                        <xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Timestamp" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Search Action Response  -->
            <xsd:element name="SearchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:SearchResult"/>
                        <xsd:element ref="tns:ResponseMetadata"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Search Result Data -->
            <xsd:element name="SearchResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SearchTerms" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Your search term(s)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="EstimatedNumberOfDocuments" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Number of results matching query</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="MaxTimeReached" minOccurs="0" type="xsd:boolean">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">This element exists and is set to 'true' if results are truncated because of insufficient MaxTime</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="QueryExpansion" type="tns:QueryExpansion" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Query expansion suggestions, comes with the QueryExpansion result group</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="QueryCorrection" minOccurs="0" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Query correction hint, comes with the QueryCorrection response group</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Document" type="tns:Document" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Matching document with result fields</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="QueryExpansion">
                <xsd:sequence>
                    <xsd:element name="Expansion" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Document -->
            <xsd:complexType name="Document">
                <xsd:sequence>
                    <xsd:element name="Url" type="xsd:anyURI" />
                    <xsd:element name="Title" type="xsd:string" />
                    <xsd:element name="Bytes" type="xsd:string" />
                    <xsd:element name="Checksum" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Context" type="xsd:string" minOccurs="0" />
                    <xsd:element name="TrafficRank" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>

            <!-- AWS types -->
            <xsd:element name="ResponseMetadata">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ErrorResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" type="tns:Error" maxOccurs="unbounded"/>
                        <xsd:element name="RequestId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element name="Type">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Receiver"/>
                                <xsd:enumeration value="Sender"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Code" type="xsd:string"/>
                    <xsd:element name="Message" type="xsd:string"/>
                    <xsd:element name="Detail" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                            <xsd:anyAttribute namespace="##other" processContents="lax"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <!-- ****************************** Messages ****************************** -->
    <wsdl:message name="SearchRequestMsg">
        <wsdl:part name="body" element="tns:Search"/>
    </wsdl:message>
    <wsdl:message name="SearchResponseMsg">
        <wsdl:part name="body"  element="tns:SearchResponse"/>
    </wsdl:message>

    <!-- ****************************** Ports ****************************** -->
    <wsdl:portType name="AlexaWebSearchPortType">
        <wsdl:operation name="Search">
            <wsdl:documentation>
                Query the Alexa search engine to search the web for documents that match a query. This action returns the search results.
            </wsdl:documentation>
            <wsdl:input message="tns:SearchRequestMsg" wsa:Action="urn:Search">
            </wsdl:input>
            <wsdl:output message="tns:SearchResponseMsg" wsa:Action="urn:Search:Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <!-- ****************************** Bindings ****************************** -->
    <wsdl:binding name="AlexaWebSearchBinding" type="tns:AlexaWebSearchPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Search">
            <wsdlsoap:operation soapAction="Search"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- ****************************** Service ****************************** -->
    <wsdl:service name="AlexaWebSearch">
        <wsdl:documentation>
            The Alexa Web Search web service offers programmatic access to Alexa's web search engine. The Alexa search engine
            is a web-wide search engine that powers the web search on the Alexa website.
        </wsdl:documentation>
        <wsdl:port name="AlexaWebSearchHttpPort" binding="tns:AlexaWebSearchBinding">
            <wsdlsoap:address location="http://wsearch.amazonaws.com/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
